{:deps    {org.clojure/data.csv             {:mvn/version "1.0.0"}
           net.mikera/core.matrix           {:mvn/version "0.62.0"}
           net.mikera/vectorz-clj           {:mvn/version "0.48.0"}
           uncomplicate/neanderthal         {:mvn/version "0.39.0"}
           uncomplicate/fluokitten          {:mvn/version "0.9.1"}
           org.bytedeco/mkl-platform-redist {:mvn/version "2020.3-1.5.4"}
           diffy                            {:local/root "../diffy"}}}